#tables_container {
    position: relative;
    left : 17%;
    top: 200px;
    width: 1200px;
}

#books_div {
    width: 600px;
    position: relative;
}

#vocabulary_div {
    width: 400px;
    right: 0;
    top: 0;
    position: absolute;
}

#book_container{
    position: relative;
    top: 0px;
    bottom: 0;
}

#book_table {
    position: relative;
    left: 0;
    right: 0;
    width: 600px;
    text-align: center;
    margin: 0;
    border-collapse: collapse;
}

#word_table {
    position: relative;
    right: 0;
    width: 400px;
    text-align: center;
    margin: 0;
    border-collapse: collapse;
}

.labels {
    position: relative;
    top: 0px;
    left: 20%;
    border-radius: 15px 15px 0 0;
    border: 2px solid black;
    font-size: 30px;
    width: 200px;
    height: 35px;
    text-align: center;
    margin: 0;
    border-bottom: 0;
}


.book_delete {
    height: 5mm;
    width: 5mm;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/public/images/trash_icon.png');
    border-width: 0;
    background-color: white;
}

.word_delete {
    height: 5mm;
    width: 5mm;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/public/images/trash_icon.png');
    border-width: 0;
    background-color: white;
}

#add_book_div {
    position: absolute;
    right: 14px;
    top: 50px;
}

#add_word_div {
    position: absolute;
    right: -35px;
    top: 60px;
}


#book_table th {
    border-top: 1px solid black;
    height: 40px;
}


#word_table th {
    border-top: 1px solid black;
    height: 40px;
}

#book_table td {
    border: 1px solid black;
    height: 30px;
}

#word_table td {
    border: 1px solid black;
    height: 30px;
}

#add_book_form {
    background-color: white;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    padding: 5px;
}

#add_word_form {
    background-color: white;
    border: 1px solid black;
    width: 80%;
    text-align: center;
    padding: 5px;
}

.form_button {
    color: blue;
    margin: 15px;
    border-width: 0;
}

.book_form {
    text-align: center;
}