head
    script(src = 'util/jquery.js')
    script(src = 'navigation/navigation.js')
    title Croissant
    h1(align = "center") Welcome to Croissant
    if(id)
        div(align = 'right')
            h3 #{username}
            h3 #{email}
