head
    script(src = '/util/jquery.js')
    script(src = '/navigation/navigation.js')
    title Croissant
    h1(align = "center") Welcome to Croissant
    if(username)
        div(align = 'right')
            unless(myPage)
                button(id = 'private_button') my page
            button(id = 'logout_button') logout
            h3 #{username}