doctype html
html
    include includes/header.pug
        <link rel = "stylesheet" href = "/css/404.css">
    body
        div(id = 'err_div')
            h1(align = 'center' class = 'error') ERROR 404
            h1(align = 'center' class = 'error') PAGE NOT FOUND
