doctype html
html
    include includes/header.pug

    body
        div(id = 'book_info')
            p 1
            p 2
            p 3
            p 4

        div(id = 'notes_div')
            p notes