head
    script(src = 'util/jquery.js')
    script(src = 'util/search.js')
    script(src = 'navigation/navigation.js')

body
    title InkShare
    h1(align = "center") Welcome to InkStudies
    button(class = 'home_button') HOME
    div(align = 'right')
        button(action = '/test/form/login' method = 'GET' id = 'login_button') LOG IN
        button(action = '/test/form/register' method = 'GET' id = 'register_button') REGISTER

    hr
    div
        input(type = 'text' size = 30 placeholder = myPlaceHolder id = 'test')
        button(id = 'submit') submit
    div(id = 'query_result')