doctype html

html
   include includes/header.pug

   body
      title Form Tester
      button(id = 'home_button') HOME
      form(action = "/login", method = "POST")
         div
            label username:
            input(name = "credentials" value = "username or password")
         br
         div
            label password:
            input(name = "password" type = "password")
         br
         button(type = "submit") login