doctype html
head
    title InkStudies
    script(src = '/util/jquery.js')
    script(src = '/navigation/navigation.js')

body
    div
        h1(align = 'center') you correctly logged in

    button(align = 'left' id = 'private_button') Go to my page