doctype html
head
    title InkStudies
    script(src = '/util/jquery.js')
    script(src = '/navigation/navigation.js')

body
    div(align = 'right')
        h4 #{username}
        h4 #{email}
    div
        h1(align = 'center') private page

    button(align = 'left' id = 'home_button') return to main page