doctype html

html
   include includes/header.pug
      link(rel = 'stylesheet' href = '/css/registerPage.css')

   body
      div(id = 'register_form_div')
         form(action = "/register", method = "POST")
            div
               label username:
               input(name = "username" value = "username")
            br
            div
               label email:
               input(name = "email" value = "email")
            br
            div
               label password:
               input(name = "password" type = "password")
            br
            div
               label password:
               input(name = "passwordConfirm" type = "password" )
            br
            button(type = "submit") register